b {
  color: #f00;
  border-width: 2px;
}

i {
  color: #0f0;
  border-width: 2px;
}

.a_different_name_and_a_class {
  background-color: #fff;
  color: #253;
  margin: 0;
}

#this_ones_a_class_now {
  padding: 8px;
}

li {
  background-color: rgb(52, 12, 6);
  margin-top: 12px;
  margin-right: 52px;
  margin-bottom: 66px;
  margin-left: 2px;
}
